* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar {
  background: #2074a2;
  padding: 0.5rem !important;
}
.navbar-brand img {
  padding-left: 20px;
  height: 40px;
}
.navbar-nav {
  margin-right: 4rem;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left !important;
}
.navbar-nav li a:hover {
  border-bottom: 1px solid wheat;
}
.fa-bars {
  color: #fff !important;
  font-size: 30px !important;
}
.navbar-toggler {
  outline: none !important;
}

p {
  margin: 0 !important;
}
#intro {
  background-image: url("./img/d.jpg");
  height: 78vh;
  background-position: center;
  background-size: cover;
}
#poweredby {
  color: #000000;
  text-align: center;
  border-bottom: 1px solid #bfbebe;
}
.poweredby p {
  font-size: 1.5rem;
  padding: 0.8rem;
  font-weight: 600;
}
.poweredby a {
  color: #2074a2;
  cursor: pointer;
}

#services {
  background: #f3edf3;
  overflow: auto;
  padding-bottom: 5rem;
}
#services h3 {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
  text-decoration: underline;
}
.services {
  justify-content: space-between;
}
.service {
  margin-top: 2rem;
  background: rgb(255, 255, 254);
  text-align: center;
  padding: 2rem;
  border: 1px solid #ada3a3;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  margin-left: 1rem;
}

.service:hover {
  box-shadow: 3px 4px 10px #888888;
}
.service img {
  height: 5rem;
}
#about-us {
  /* margin-top: 3rem; */
  color: #fff;
  background: #0e415c;
}
.about-row {
  align-items: center !important;
  margin-right: 0 !important;
}
.about-img {
  /* width: 100%; */
  background-image: url("./img/a.jpg");
  height: 60vh;
  background-position: center;
  background-size: cover;
}

.about-col {
  text-align: right;
}
.about-text {
  display: inline-block;
  max-width: 500px;
  margin-right: 100px;
}
.about-text h3 {
  text-decoration: underline;
  margin-bottom: 15px;
  font-weight: 600;
}
.about-text p {
  /* color: #777; */

  line-height: 25px;
}

#footer {
  margin-top: 3rem;
  background-color: #0e415c;
  color: #fff;
}
.col-2 .newsletter-input {
  width: 70% !important;
}
.signup-btn {
  background: #fff;
  margin-top: 1rem;
  padding: 8px 35px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
  margin-left: 0 !important;
}
.signup-btn:hover {
  color: #fff;
  background: rgb(19, 179, 125);
}
.newsletter {
  /* display: flex !important; */
}
.newsletter-input {
  background: #fff !important;
}
.newsletter .btn {
}
.footer-col {
  margin-top: 3rem !important;
  padding: 3rem;
}
.quick-links a {
  color: #fff;
}
.quick-links li a:hover {
  color: #fff;
  transform: translateY(-10px) !important;
}
#copyright {
  color: #fff;
  background-color: #0a3146;
}
.copyright {
  text-align: center;
  padding: 1rem;
}
#footer h3 {
  font-size: 1rem !important;
  font-weight: 600;
}

.social {
  position: absolute;
  bottom: 8px;
  right: 0;
}
.social-icons {
  margin-top: 0.6rem;
}
.social-icons img {
  width: 40px;
  transition: 0.6s;
}
.social-icons a:hover img {
  transform: translateY(-10px);
  transition: all 0.5s ease-in-out 0s;
}
@media screen and (max-width: 768px) {
  .footer-col {
    margin: 0 !important;
    padding: 1rem;
  }
  .about-text {
    margin-right: 10px;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .social {
    right: 0;
    top: 9rem;
  }
  #footer {
    padding-bottom: 3rem;
  }
}
.social-icons a {
  margin-right: 8px !important;
}
.social-icons i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #fff;
  background: #fff;
  padding: 0.5em 0.6em;
  transition: all 0.3s ease-in-out;
}
.social-icons i.fa:hover {
  transform: translateY(-5px);
}
